[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/elate"]
	path = themes/elate
	url = https://github.com/saey55/hugo-elate-theme.git
